<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.inline.DryingProcessMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> </cache -->

	<select id="search" parameterType="DryingProcessEntity" resultType="DryingProcessEntity">
	<![CDATA[ 
		SELECT
			section.name AS section_name,
			position.process_code,
			CASE
				WHEN cm.origin_material_id IS NOT NULL THEN '组件'
				WHEN so.manage_serial_no IS NOT NULL THEN concat('(源)', ma.omr_notifi_no)
				ELSE ma.omr_notifi_no
			END as omr_notifi_no,
			CASE 
				WHEN cm.origin_material_id IS NOT NULL THEN cm.serial_no
				WHEN so.manage_serial_no IS NOT NULL THEN concat('序列:', so.manage_serial_no)
				ELSE ma.serial_no
			END as serial_no,
			model.name AS model_name,
			dj.content,
			dj.drying_time,
			dm.manage_code,
			dp.slot,
			dp.start_time,
			dp.end_time,
			position.position_id,
			dj.drying_job_id,
			ma.material_id
		FROM
			drying_process dp
		JOIN
			material ma
		ON
			ma.material_id = dp.material_id
		JOIN
			model
		ON
			model.model_id = ma.model_id
		JOIN
			drying_job dj
		ON
			dj.drying_job_id = dp.drying_job_id
		LEFT JOIN
			devices_manage dm
		ON
			dm.devices_manage_id = dj.device_manage_id
		JOIN
			section
		ON
			section.section_id = ma.section_id
		JOIN
			position
		ON
			position.position_id = dj.position_id
		LEFT JOIN snout_origin so
			ON so.material_id = ma.material_id
			AND position.position_id = 24
		LEFT JOIN component_manage cm
			ON cm.origin_material_id = ma.material_id
	        AND position.line_id = 13
	]]>
		<where>
			<if test="model_id!=null and model_id!=''">
			<![CDATA[
				model.model_id = #{model_id}
			]]>
			</if>
			<if test="omr_notifi_no!=null and omr_notifi_no!=''">
			<![CDATA[
				AND ma.omr_notifi_no LIKE CONCAT('%',#{omr_notifi_no},'%')
			]]>
			</if>
			<if test="position_id!=null and position_id!=''">
			<![CDATA[
				AND dj.position_id = #{position_id}
			]]>
			</if>
			<if test="section_id!=null and section_id!=''">
			<![CDATA[
				AND ma.section_id = #{section_id}
			]]>
			</if>
			<if test="device_manage_id!=null and device_manage_id!=''">
			<![CDATA[
				AND dj.device_manage_id = #{device_manage_id}
			]]>
			</if>
			<if test="status==1">
			<![CDATA[
				AND dp.end_time IS NULL
			]]>
			</if>
			<if test="status==2">
			<![CDATA[
				AND dp.end_time IS NOT NULL
			]]>
			<if test="material_id!=null and material_id!=''">
			<![CDATA[
				AND ma.material_id = #{material_id}
			]]>
			</if>
			</if>
		</where>
		ORDER BY
			dp.start_time DESC
	</select>

	<select id="getDryingJobWithUsedSlots" parameterType="String" resultType="DryingProcessEntity">
select dod.device_manage_id, dod.setting_temperature, dod.slot, dm.manage_code, dm.model_name,
pos.process_code, sec.name as section_name, usdm.using_slots
from drying_oven_device dod
join devices_manage dm
on dod.device_manage_id = dm.devices_manage_id
join section sec
on dm.section_id = sec.section_id
join position pos
on dm.position_id = pos.position_id
left join (
select device_manage_id, group_concat(slot) as using_slots from drying_process
where end_time is null
group by device_manage_id
) usdm
on dod.device_manage_id = usdm.device_manage_id
			<if test="status==1">
			<![CDATA[
				WHERE dod.device_manage_id = #{device_manage_id}
			]]>
			</if>
			<if test="status==2">
			<![CDATA[
				WHERE dod.setting_temperature = (
					select setting_temperature from drying_oven_device where device_manage_id = #{device_manage_id}
				)
			]]>
			</if>
	</select>

	<insert id="createProcess" parameterType="DryingProcessEntity">
		INSERT INTO `drying_process`
		(`drying_job_id`,
		`material_id`,
		`start_time`,
		`device_manage_id`,
		`slot`)
		VALUES
		(#{drying_job_id},
		#{material_id},
		current_timestamp,
		#{device_manage_id},
		#{slot}
		);
	</insert>

	<select id="getToFinishProcess" parameterType="DryingProcessEntity" resultType="DryingProcessEntity">
		SELECT material_id, drying_job_id, start_time
		FROM `drying_process`
		WHERE material_id = #{material_id}
		AND `end_time` IS NULL
		AND `drying_job_id` in (
			SELECT drying_job_id FROM drying_job 
			WHERE position_id = #{position_id}
		);
	</select>

	<update id="finishProcess" parameterType="DryingProcessEntity">
		UPDATE `drying_process`
		SET
		`end_time` = current_timestamp
		WHERE material_id = #{material_id}
		AND `start_time` = #{start_time}
		AND `drying_job_id` = #{drying_job_id}
		;
	</update>

	<select id="getProcessByMaterialInPosition" parameterType="String" resultType="DryingProcessEntity">
			<![CDATA[
		SELECT 
		dp.start_time, dm.manage_code, slot, dj.content, dj.hardening_condition, dj.drying_time
		FROM `drying_process` dp
		JOIN `drying_job` dj
			ON dp.drying_job_id = dj.drying_job_id
		LEFT JOIN `devices_manage` dm
			ON dp.device_manage_id = dm.devices_manage_id
		WHERE material_id = #{material_id}
		AND `end_time` IS NULL
			]]>
			<if test="position_id==null">
		LIMIT 1
			</if>
			<if test="position_id!=null">
		AND dj.position_id = #{position_id}
			</if>
		;
	</select>
</mapper>