<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.qf.AfProductionFeatureMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<insert id="insert" parameterType="AfProductionFeatureEntity">
	<![CDATA[
	INSERT INTO af_production_feature
	(
	production_type,
	operator_id,
	action_time
	)
	VALUES
	(
	#{production_type},
	#{operator_id},
	#{action_time}
	)
	]]>
	</insert>
	
	<update id="updateFinishTime" parameterType="string">
	<![CDATA[
		UPDATE af_production_feature SET finish_time = CURRENT_TIMESTAMP WHERE af_pf_key = #{af_pf_key}
	]]>
	</update>
	
	<select id="getUnfinishByOperator" resultType="AfProductionFeatureEntity" parameterType="string">
	<![CDATA[
		SELECT 
			af_pf_key,
			production_type,
			operator_id,
			action_time,
			finish_time 
		FROM
			af_production_feature
		WHERE
			operator_id = #{operator_id}
		AND
			finish_time IS NULL
	]]>
	</select>

	<update id="finishProductionOfOperator" parameterType="string">
	<![CDATA[
		UPDATE af_production_feature SET finish_time = CURRENT_TIMESTAMP WHERE operator_id = #{operator_id} AND finish_time IS NULL;
	]]>
	</update>

	<select id="getUnfinishByType" resultType="AfProductionFeatureEntity" parameterType="int">
	<![CDATA[
		SELECT 
			af_pf_key,
			production_type,
			operator_id,
			action_time,
			finish_time 
		FROM
			af_production_feature
		WHERE
			production_type = #{production_type}
		AND
			finish_time IS NULL
	]]>
	</select>

	<select id="countPositionProcessBetweenAfProcess" resultType="AfProductionFeatureEntity" parameterType="AfProductionFeatureEntity">
	<![CDATA[
		SELECT count(material_id) as cnt, division FROM (
			SELECT pospf.material_id, 
	]]>

	<if test="division eq null"><!-- 无需分类 -->
			0 as division
	</if> 
	<if test="division eq 1"><!-- 按机种 -->
			CASE 
			WHEN (mdl.kind = 7) THEN 1 
			WHEN (mdl.kind = 8) THEN 2 
			WHEN (mdl.kind = 9) THEN 3 
			ELSE 0 
			END as division
	</if> 
	<if test="division eq 2 or division eq 3"><!-- 按手动机种 -->
			CASE 
			WHEN pospf.pcs_inputs like '%manual%' THEN 0
			WHEN (mdl.kind = 7) THEN 2 
			WHEN (mdl.kind = 8) THEN 3 
			WHEN (mdl.kind = 9) THEN 4 
			ELSE 1 
			END as division
	</if> 

	<![CDATA[
			FROM af_production_feature afpf
			JOIN production_feature pospf
			on afpf.operator_id = pospf.operator_id
			and pospf.operate_result = #{operate_result}
			and pospf.position_id = #{position_id}
	]]>

	<if test="division eq 1 or division eq 2 or division eq 3"><!-- 按机种 -->
	<![CDATA[
		JOIN material ma
		on pospf.material_id = ma.material_id
	]]>
		<if test="division eq 2"><!-- 只要维修品 -->
		and ma.fix_type in (1, 2)
		</if> 
		<if test="division eq 2"><!-- 只要备品 -->
		and ma.fix_type = 3
		</if> 
	<![CDATA[
		join v_model mdl
		on ma.model_id = mdl.model_id
	]]>
	</if> 

	<![CDATA[
			where af_pf_key = #{af_pf_key}
			and pospf.finish_time >= afpf.action_time
			and (afpf.finish_time IS NULL OR pospf.finish_time <= afpf.finish_time)
		) vset
		group by division
		;
	]]>
	</select>

	<select id="countConsumableWarehouseOfAfProcess" resultType="AfProductionFeatureEntity" parameterType="string">
		select 
			shelf_cost as division, quantity as cnt
		from
			fact_consumable_warehouse fcw
		where 
			af_pf_key = #{af_pf_key}
		;
	</select>


	<select id="countSWCWash" resultType="int" parameterType="string">
	<![CDATA[
		SELECT 
		    COUNT(1)
		FROM
		    steel_wire_container_wash_process
		WHERE
		    process_type = #{process_type}
		AND 
			process_time 
		BETWEEN
			(SELECT action_time FROM af_production_feature WHERE af_pf_key = #{af_pf_key})
		AND
			(SELECT COALESCE(finish_time, '2999-01-01') FROM af_production_feature WHERE af_pf_key = #{af_pf_key})
	]]>
	</select>


	<select id="countMajorOnNsProceed" resultType="AfProductionFeatureEntity" parameterType="String">
	<![CDATA[
		select ns_count as division, count(1) as cnt from (
		select ma.material_id, (count(pos.line_id = 13) * (level != 1) > 0) as ns_count from fact_partial_release fpr
		JOIN material ma ON fpr.material_id = ma.material_id
		JOIN v_model mdl ON ma.model_id = mdl.model_id
		JOIN process_assign_template pat ON COALESCE(ma.pat_id, mdl.default_pat_id) = pat.process_assign_template_id
		JOIN process_assign pa ON pat.process_assign_template_id = pa.refer_id and pa.refer_type = 1
		JOIN position pos on pa.position_id = pos.position_id
		WHERE fpr.af_pf_key = #{af_pf_key}
		AND level not in (9, 91, 92, 93, 94, 95, 96, 97, 98, 99)
		GROUP BY ma.material_id
		) tmp
		GROUP by ns_count
		;
	]]>
	</select>

	<select id="countMinorOnNsProceed" resultType="AfProductionFeatureEntity" parameterType="String">
	<![CDATA[
		select ns_count as division, count(1) as cnt from (
		select ma.material_id, (pos.line_id = 13) as ns_count from fact_partial_release fpr
		JOIN material ma ON fpr.material_id = ma.material_id
		JOIN material_process_assign pa ON ma.material_id = pa.material_id 
		JOIN position pos on pa.position_id = pos.position_id
		WHERE fpr.af_pf_key = #{af_pf_key}
		AND prev_position_id = 0
		AND level in (9, 91, 92, 93, 94, 95, 96, 97, 98, 99)
		GROUP BY ma.material_id
		) tmp
		GROUP by ns_count
		;
	]]>
	</select>


	<select id="countMaterialPartialOrderEdits" resultType="int" parameterType="String">
	select 
		sum(quantity) as cnt
	from
		fact_partial_release fpr
	where
		fpr.af_pf_key = #{af_pf_key}
	;
	</select>
</mapper>