<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.qf.FactReceptMaterialMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<select id="searchReceptMaterial" resultType="FactReceptMaterialEntity">
	<![CDATA[
		SELECT
			material_id,
		    serial_no,
		    ocm,
		    direct_flg,
		    service_repair_flg,
		    CASE
		    	WHEN temp_fact_recept >= 1 THEN null
		    	WHEN ocm = 4 THEN f_addworkdays(reception_time,2)
		    	ELSE f_addworkdays(reception_time,1)
		    END AS expect_arrive_time,
		    model_name,
		    category_id,
		    (select kind from category where category_id = temp.category_id) as kind,
		    temp_fact_recept AS fact_recept,
		    tag_types,
		    location As tc_location,
		    ocm_rank,
		    comment
		FROM
		(
		SELECT 
		    material.material_id,
		    material.serial_no,
		    material.ocm,
		    material.ocm_rank,
		    material.direct_flg,
		    material.service_repair_flg,
		    material.reception_time,
		    mdl.name AS model_name,
		    mdl.CATEGORY_ID,
            coalesce(SUM(afpf.production_type = 102) > 0, 0) AS temp_fact_recept,
            SUM(tag.tag_type = 2) AS waiting_leak,
		    GROUP_CONCAT(DISTINCT tag.tag_type) AS tag_types,
            tcs.location,
		    cmt.comment
		FROM
		    material
		JOIN
		    model mdl ON material.model_id = mdl.model_id
		LEFT JOIN
		    fact_material fct ON material.material_id = fct.material_id
		LEFT JOIN 
			af_production_feature afpf ON fct.af_pf_key = afpf.af_pf_key
		LEFT JOIN
		    material_tag tag ON material.material_id = tag.material_id
		LEFT JOIN
		    material_comment cmt ON material.material_id = cmt.material_id AND cmt.operator_id = 00000000002
		LEFT JOIN 
			turnover_case_storage tcs on material.material_id = tcs.material_id
		WHERE
		    fix_type IN (1 , 2)
		AND 
			break_back_flg = 0
		AND 
			inline_time IS NULL
		AND 
			wip_date IS NULL
		AND 
			outline_time IS NULL
	]]>
	<if test="search_range eq 1">
	<![CDATA[
		AND NOT EXISTS(
			SELECT 
				1
			FROM
				production_feature
			WHERE
				material_id = material.material_id
			AND 
				position_id IN (10 , 11)
			AND 
				operate_result not in (0, 5))
	]]>
	</if>
	<![CDATA[
		GROUP BY
			material.material_id
	]]>
	<if test="search_range eq 2">
	<![CDATA[
		HAVING (temp_fact_recept = 0 OR waiting_leak > 0)
	]]>
	</if>
	<![CDATA[
		ORDER BY 
			model_name,serial_no
			) temp
	]]>
	</select>

	<insert id="insertFactReceptMaterialTemp" parameterType="FactReceptMaterialEntity">
	<![CDATA[
		INSERT INTO fact_recept_material_temp
		(
			direct_flg,
			serial_no,
			model_id,
			model_name,
			af_pf_key,
			tag_types,
			tc_location,
			reception_time
		)
		VALUES
		(
			#{direct_flg},
			#{serial_no},
			#{model_id},
			#{model_name},
			#{af_pf_key},
			#{tag_types},
			#{tc_location},
			current_timestamp
		)
	]]>
	</insert>

	<select id="searchReceptSpareMaterial" resultType="FactReceptMaterialEntity">
	SELECT 
        material.material_id,
	    material.serial_no,
	    mdl.name AS model_name,
	    (select kind from category where category_id = mdl.category_id) as kind,
	    1 AS temp_fact_recept,
	    1 AS fact_recept,
	    (select position_id from production_feature where material_id = material.material_id and position_id in (10, 11) limit 1) as tag_types
    FROM
        material
    JOIN model mdl ON material.model_id = mdl.model_id
    WHERE
        fix_type = 3
    AND break_back_flg = 0
    AND outline_time IS NULL
    AND NOT EXISTS( SELECT 
	        1
	    FROM
	        production_feature
	    WHERE
	        material_id = material.material_id
        AND position_id IN (10 , 11)
        AND operate_result not in (0, 5))
    ORDER BY model_name, serial_no
   	</select>

	<select id="searchTemp" resultType="FactReceptMaterialEntity" parameterType="FactReceptMaterialEntity">
	<![CDATA[
		SELECT
			fact_recept_id,
			direct_flg,
			serial_no,
			frmt.model_id,
			category_id,
			model_name,
			af_pf_key,
			tag_types,
			tc_location,
			reception_time
		FROM
			fact_recept_material_temp frmt join model mdl on frmt.model_id = mdl.model_id
	]]>
	<where>
	<![CDATA[
		af_pf_key <> 0 
	]]>
	<if test="model_id!=null and model_id!=''">
	<![CDATA[
		AND frmt.model_id = #{model_id}
	]]>
	</if>
	<if test="serial_no!=null and serial_no!=''">
	<![CDATA[
		AND serial_no = #{serial_no}
	]]>
	</if>
	<if test="search_range eq 2">
	<![CDATA[
		AND (reception_time IS NULL OR LOCATE('2', tag_types) > 0)
	]]>
	</if>
	</where>
	<![CDATA[
		ORDER BY
			model_name,serial_no
	]]>
	</select>
	
	<update id="updateFactReceptMaterialTemp" parameterType="FactReceptMaterialEntity">
	<![CDATA[
		UPDATE
			fact_recept_material_temp
		SET
			serial_no = #{serial_no},
			model_id = #{model_id},
			model_name = #{model_name},
			tag_types = #{tag_types},
			tc_location = #{tc_location}
		WHERE
			fact_recept_id = #{fact_recept_id}
	]]>
	</update>
	
	<select id="getFactReceptTemp" parameterType="string" resultType="FactReceptMaterialEntity">
	<![CDATA[
		SELECT
			fact_recept_id,
			direct_flg,
			serial_no,
			model_id,
			model_name,
			af_pf_key,
			tag_types,
			tc_location,
			reception_time
		FROM
			fact_recept_material_temp
		WHERE
			fact_recept_id = #{fact_recept_id}
	]]>
	</select>

	<delete id="deleteTemp" parameterType="string">
	<![CDATA[
		DELETE FROM fact_recept_material_temp WHERE fact_recept_id = #{fact_recept_id}
	]]>
	</delete>
</mapper>