<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.qf.ShippingMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->
	
	<select id="getWaitings" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no, `m`.esas_no, `m`.model_id, `m`.serial_no, `m`.ocm, `m`.bound_out_ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.agreed_date, `mdl`.name as model_name, `pf`.operate_result, `m`.scheduled_expedited,
			  coalesce(`mp`.finish_date,`m`.outline_time) as finish_time,
			  `m`.break_back_flg, tcs.location as wip_location,af_production_feature.action_time as filing_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = 47
			  AND `pf`.operate_result = 0
			  AND `pf`.action_time is null
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id = 14
			LEFT JOIN turnover_case_storage tcs ON `m`.material_id = tcs.material_id
			LEFT JOIN
				fact_material
			ON
				m.material_id = fact_material.material_id
			LEFT JOIN
				af_production_feature
			ON
				fact_material.af_pf_key = af_production_feature.af_pf_key
			ORDER BY operate_result DESC, reception_time
		]]>
		
	</select>

	<select id="getFinished" resultType="MaterialEntity">
		<![CDATA[
			SELECT `m`.material_id,coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no, `m`.esas_no, `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `m`.inline_time, pf.finish_time as quotation_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = 47
			  AND `pf`.operate_result = 2
			  AND `pf`.finish_time > current_date
			ORDER BY quotation_time DESC
		]]>
	</select>

	<select id="getMaterialDetail" resultType="MaterialEntity" parameterType="String">
	<![CDATA[ 
		SELECT 
			`m`.material_id,
			coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no,
			`m`.esas_no,
			`m`.model_id,
			`mdl`.name as model_name,
			`m`.serial_no,
			`m`.ocm,
			`m`.level,
			`m`.direct_flg,
			`m`.fix_type,
			`m`.service_repair_flg,
			`m`.section_id,
			`m`.reception_time,
			`m`.scheduled_expedited,
			`m`.agreed_date,
			`mp`.finish_date as finish_time,
			`m`.bound_out_ocm,
			`m`.bound_out_package_no
		 FROM material m 
		 JOIN model mdl
		 	ON `m`.model_id = `mdl`.model_id
		LEFT JOIN material_process mp
			ON mp.material_id = m.material_id
			AND mp.line_id = 14
		 WHERE `m`.material_id = #{material_id};
	]]>
	</select>

</mapper>