<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.qf.ShippingMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->
	
	<select id="getWaitings" resultType="MaterialEntity" parameterType="String">
		<![CDATA[
			SELECT `m`.material_id,coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no, `m`.esas_no, `m`.model_id, `m`.serial_no, `m`.ocm, `m`.bound_out_ocm,
				`m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
				`m`.agreed_date, `mdl`.name as model_name, `pf`.operate_result, 
				`m`.scheduled_expedited + (
					CASE WHEN mdl.series = 'URF' THEN
						exists 
						(select sum(tag_type = 6) xor sum(tag_type = 7) as ts from material_tag where material_id = `m`.material_id group by material_id
						having ts = 1)
					ELSE 0 END
				) * 4 as  scheduled_expedited,
				coalesce(`mp`.finish_date,`m`.outline_time) as finish_time,
				`m`.break_back_flg, tcs.location as wip_location,
				(SELECT
					action_time
				FROM fact_material force index(material)
				JOIN af_production_feature ON fact_material.af_pf_key = af_production_feature.af_pf_key
				WHERE
					fact_material.material_id = m.material_id
					and af_production_feature.production_type = 241 limit 1) 
				as filing_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf force index(Action_time)
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = #{position_id}
			  AND `pf`.operate_result = 0
			  AND `pf`.action_time is null
			LEFT JOIN material_process mp
				ON mp.material_id = m.material_id
				AND mp.line_id = 14
			LEFT JOIN turnover_case_storage tcs ON `m`.material_id = tcs.material_id
			ORDER BY mdl.series = 'URF' desc, operate_result DESC, reception_time
		]]>
		
	</select>

	<select id="getFinished" resultType="MaterialEntity" parameterType="String">
		<![CDATA[
			SELECT `m`.material_id,coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no, `m`.esas_no, `m`.model_id, `m`.serial_no, `m`.ocm,
			  `m`.`level`, `m`.direct_flg, `m`.service_repair_flg, `m`.reception_time, `m`.fix_type,
			  `m`.wip_location, `m`.agreed_date, `mdl`.name as model_name, `m`.inline_time, pf.finish_time as quotation_time
			FROM material m
			JOIN model mdl ON `m`.model_id = `mdl`.model_id
			JOIN production_feature pf
			  ON `m`.material_id = `pf`.material_id
			  AND `pf`.position_id = #{position_id}
			  AND `pf`.operate_result = 2
			  AND `pf`.finish_time > current_date
			  AND not exists (select 1 from `shipping_trolley` where material_id = m.material_id)
			ORDER BY quotation_time DESC
		]]>
	</select>

	<select id="getMaterialDetail" resultType="MaterialEntity" parameterType="String">
	<![CDATA[ 
		SELECT 
			`m`.material_id,
			coalesce(m.omr_notifi_no,m.sorc_no) as sorc_no,
			`m`.esas_no,
			`m`.model_id,
			`mdl`.name as model_name,
			`m`.serial_no,
			`m`.ocm,
			`m`.level,
			`m`.direct_flg,
			`m`.fix_type,
			`m`.service_repair_flg,
			`m`.section_id,
			`m`.reception_time,
			`m`.scheduled_expedited,
			`m`.agreed_date,
			`mp`.finish_date as finish_time,
			`m`.bound_out_ocm,
			`m`.bound_out_package_no
		 FROM material m 
		 JOIN model mdl
		 	ON `m`.model_id = `mdl`.model_id
		LEFT JOIN material_process mp
			ON mp.material_id = m.material_id
			AND mp.line_id = 14
		 WHERE `m`.material_id = #{material_id};
	]]>
	</select>

	<insert id="putIntoTrolley" parameterType="String">
		INSERT INTO `shipping_trolley`
		(`trolley_code`,
		`material_id`)
		VALUES
		(#{trolley_code},
		#{material_id});
	</insert>

	<select id="getInTrolleyMaterials" resultType="MaterialEntity">
		select ma.omr_notifi_no as sorc_no, ma.serial_no, ma.break_back_flg, 
			mdl.name as model_name, 
			ctg.name as category_name,
			tro.trolley_code as wip_location
		from shipping_trolley tro join material ma 
			on tro.material_id = ma.material_id
		join model mdl
			on ma.model_id = mdl.model_id
		join category ctg
			on mdl.category_id = ctg.category_id
		join production_feature pf
			on tro.material_id = pf.material_id and pf.position_id in (select position_id from position where special_page = 'shipping')
			and pf.operate_result = 2
		order by pf.finish_time desc
		;
	</select>

	<delete id="clearTrolley" parameterType="String">
		DELETE FROM `shipping_trolley`
		WHERE `trolley_code` = #{trolley_code} 
		;
	</delete>

	<update id="updateMaterialTimeNodeShipment" parameterType="String">
		<![CDATA[
			UPDATE `material_time_node` SET
			`shipment` = current_timestamp,
			`ots_reception` = null
			where material_id in (select material_id from shipping_trolley where trolley_code = #{trolley_code})
		]]>
	</update>

</mapper>