@CHARSET "UTF-8";
#inst_partial_code {
	ime-mode: disabled;
}
span.instruct_obj{
	float: right;margin: .3em .4em .2em .3em;
	cursor: pointer;
	color: darkblue;
	background-color: white;
	padding-left:.2em;
	padding-right:.5em;
}
#inst_page label.component {
	background:lightblue;
	color:orange;
}
#inst_page label.component.ui-state-active {
	background: #db4865;
}
#inst_page .inst_page + label:before {
	content: attr(cnt);
	right: 0;
	top: -2px;
	background-color: rgba(0,0,255,0.8);
	position: absolute;
	width: 1.5em;
	padding: 0;
	border-bottom-left-radius: 2em;
	border: 0;
	color: whitesmoke;
}
#inst_page .inst_page.edited + label:after {
	content: '+';
	left: 1px;
	top: -10px;
	background-color: rgba(205,74,75,0.8);
	position: absolute;
	width: 1em;
	padding: 0;
	border-radius: 2em;
	border: 0;
	color: gold;
}
#inst_page > div[role='button'] {
	display: inline;
	display: inline-block;
    margin-left: 3px;
	padding: 0em 0.4em;
	height: 22px;
	cursor: pointer;
}
#inst_head th {
	padding: 0;
}
#inst_list {
	max-height: 360px;
	/* max-height: 420px; */
	overflow-y: scroll;
}
#inst_list > table {
	width : 960px;
}
#inst_list > table tr.tr-eq0 > td {
	border : 0;
	padding: 0;
}
#inst_list > table tr.hide_by_filter {
	display:none;
}
#inst_list > table tr.hide_by_filter.show_for_child {
	display:table-row;
	color: lightgray;
}
#inst_list > table td[for=quantity],
#inst_list > table td[for=price] {
	text-align:right;
	padding-right:.5em;
}
#inst_list > table td[adjust] {
	position:relative;
	cursor:pointer;
}
#inst_list > table td[adjust]:before {
	position : absolute;
	content:attr(adjust);
	background-color:blue;
	width:1.8em;
	text-align:center;
	height:100%;
	left:0;
	line-height: 2em;
	color: yellow;
}
#inst_list > table td[adjust="0"]:before {
	display: none;
}
#inst_list > table td[inline_comment]:hover:after {
	position : absolute;
	content:attr(inline_comment);
	background-color:gold;
	height:100%;
	width:100%;
	left:0;
	line-height: 2em;
	padding-left:2px;
}
#inst_list > table tr.instructed > td {
	background-color:aliceblue;
}
#inst_list > table tr.instructed.cancel > td {
	background-color:lightgray;
}
#inst_list > table tr.instructed.mismatch > td:nth-child(-n+2),
#inst_list > table tr.instructed > td[for=quantity] > span.mismatch {
	background-color: #C8FFC8;
	text-decoration: underline double #00CC00;
}
#inst_list > table tr.append > td {
	background-color:lemonchiffon;
}
#inst_list > table td.noticeprice {
	text-decoration: underline double crimson;
}
#inst_list > table td[for=rank],
#inst_list > table td[for=process_code],
#inst_list > table td[sign] {
	text-align:center;
}
#inst_list > table td.component {
	color:orange;
	font-weight: bolder;
}
#inst_list > table tr[level] > td:first-child:before {
	content : "┕ "; 
	left:0;
}
#inst_list > table tr[level="2"] > td:first-child {
	padding-left:1em;
}

#inst_list > table tr[level="3"] > td:first-child {
	padding-left:2em;
}

#inst_list > table tr[level="4"] > td:first-child {
	padding-left:3em;
}
#inst_list > table td[for=quantity] > span {
	display: inline;
}
#inst_list > table tr > td.for_edit {
	position: relative;
	cursor:pointer;
}
#inst_list > table tr > td.for_edit:hover {
	background-color : lightgreen; 
}
#inst_list > table tr > td.for_edit > button {
	cursor:pointer;
	display: inline;
	display: inline-grid;
	background-color: transparent;
	border: 0;
	position: absolute;
	right: 2px;
	top: 2px;
}
#inst_warning_content {
	position : absolute;
	width : 400px;
	background-color:lightyellow;
	height: 3em;
	bottom: 1.2em;
	left: 0.5em;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #FF4131;
	border-radius: 4px;
	padding: 0 2px;
	color: #FF4131;
}
#inst_cascade_content {
	position: absolute;
	width: 400px;
	background-color: lightyellow;
	height: 1.5em;
	bottom: 1.1em;
	left: 440px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid goldenrod;
	border-radius: 4px;
	padding: 0 2px;
	color: goldenrod;
	word-break: keep-all;
	cursor:pointer;
}
#inst_async_content {
	position: absolute;
	width: 400px;
	background-color: aliceblue;
	height: 1.5em;
	bottom: 2.8em;
	left: 440px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #8BABE7;
	border-radius: 4px;
	padding: 0 2px;
	word-break: keep-all;
	color: #8BABE7;
}
#inst_loss_content {
	position : absolute;
	background-color:white;
	color: darkblue;
	width : 480px;
	top: 2px;
	right: 3em;
	padding: 8px 8px;
	font-size: 16px;
}
#inst_warning_content:empty,
#inst_cascade_content:empty,
#inst_async_content:empty,
#inst_loss_content:empty {
	display:none;
}
#instruct_comment_dialog {
	padding-top: 1em;
}
#instruct_comment_dialog > div {
	min-height: 3em;
	max-height: 18em;
	overflow-y: auto;
}
#instruct_comment_dialog > div > input {
	font-size: 12px;
	padding : 0.25em 0.5em;
	margin-top:0.25em;
}
#instruct_comment_dialog > div > input:first-child {
	margin-top:1em;
}
#instruct_comment_dialog #inst_adjust_quantity {
	width: 40%;
	height:1em;
	position: relative;
	top: 2px;
}
#instruct_comment_dialog #inst_adjust_quantity_min {
	background-color:darkgray;
	color:white;
	width: 2em;
	text-align: center;
	display: inline-block;
	margin-left: 0.5em;
	border-radius: 4px;
	cursor:pointer;
}
#instruct_comment_dialog #inst_adjust_quantity_max {
	background-color:darkblue;
	color:white;
	width: 2em;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	cursor:pointer;
}
#instruct_comment_dialog #inst_adjust_quantity_val {
	padding:0.5em;
}
#instruct_comment_dialog #inst_comment_inputer {
	margin-left: 1em;
	width: 70%;
	font-size: larger;
}