<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.master.ConsumablePositionMapper">

	<insert id="create" parameterType="MaterialPartialDetailEntity">
		<![CDATA[ 
		INSERT INTO `consumable_position_belong`
			(
			`model_id`,
			`partial_id`,
			`position_id`,
			`quantity`)
		VALUES
			(
			#{model_id},
			#{partial_id},
			#{position_id},
			#{quantity});
		]]>
	</insert>

	<select id="findPositionBelong" parameterType="MaterialPartialDetailEntity" resultType="MaterialPartialDetailEntity">
		<![CDATA[
		SELECT
			und.model_id, und.partial_id, pos.position_id, ptl.code, ptl.name as partial_name,
			und.quantity, coalesce(und.bom_quantity, -1) as bom_quantity, 
		]]>
		<if test="belongs eq 1">
			(select available_inventory from consumable_manage
				where partial_id = und.partial_id and delete_flg = 0) as available_inventory,
			exists (select 1 from partial_rank_bom rb join partial_position_belong b 
					on rb.model_id = b.model_id and rb.bom_code = b.bom_code
					join material ma1 on rb.model_id = ma1.model_id and rb.level = coalesce(ma1.level, 3) and ma1.material_id = #{material_id}
					where rb.model_id = und.model_id and b.partial_id = und.partial_id) as level,
		</if>
		<![CDATA[
			mdl.name as model_name, pos.process_code
		FROM (
			SELECT cpb.model_id, 
				cpb.partial_id,
				cpb.position_id, cpb.quantity, NULL as `bom_quantity`
			FROM consumable_position_belong cpb
		]]>
			<where>
				<if test="model_id!= null and model_id!= '' ">
					AND cpb.model_id = #{model_id}
				</if>
				<if test="material_id!= null and material_id!= '' ">
					AND cpb.model_id in (select model_id from material where material_id = #{material_id})
				</if>
				<if test="position_id!= null and position_id!= '' ">
					AND cpb.position_id = #{position_id}
				</if>
				<if test="partial_id!= null and partial_id!= '' ">
					AND cpb.partial_id = #{partial_id}
				</if>
				<if test="belongs eq 1">
					AND EXISTS (SELECT 1 FROM consumable_manage where partial_id = cpb.partial_id AND type = 1)
				</if>
			</where>
		<![CDATA[
			UNION ALL
			SELECT model_id, ppb.partial_id, position_id, NULL as `quantity`, quantity as bom_quantity
			FROM partial_position_belong ppb
			JOIN consumable_manage cl
			ON ppb.partial_id = cl.partial_id
		]]>
			<where>
				current_date between active_date and history_limit_date
				AND cl.delete_flg = 0
				<if test="model_id!= null and model_id!= '' ">
					AND ppb.model_id = #{model_id}
				</if>
				<if test="material_id!= null and material_id!= '' ">
					AND ppb.model_id in (select model_id from material where material_id = #{material_id})
					AND cl.type = #{belongs}
				</if>
				<if test="position_id!= null and position_id!= '' ">
					AND ppb.position_id = #{position_id}
				</if>
				<if test="partial_id!= null and partial_id!= '' ">
					AND ppb.partial_id = #{partial_id}
				</if>
			</where>
		<![CDATA[
			group by model_id, partial_id, position_id, bom_quantity
		) und
		JOIN
		partial ptl
			ON und.partial_id = ptl.partial_id
		JOIN
		model mdl
			ON und.model_id = mdl.model_id
		LEFT JOIN
		position pos
			ON und.position_id = pos.position_id
			AND pos.delete_flg = 0
		ORDER BY ptl.code, mdl.name, bom_quantity;
		]]>
	</select>

	<delete id="delete" parameterType="MaterialPartialDetailEntity">
		<![CDATA[ 
		DELETE FROM `consumable_position_belong`
		WHERE
			model_id = #{model_id}
		AND
			partial_id = #{partial_id}
		AND
			position_id = #{position_id}
		;
		]]>
	</delete>

	<select id="locateUsePositions" resultType="String">
		<![CDATA[ 
		select distinct pos.position_id, pos.process_code 
		from consumable_manage cm
		join partial_position_belong ppb
		on cm.partial_id = ppb.partial_id
		join position pos
		on ppb.position_id = pos.position_id
		and pos.delete_flg = 0
		where `type` in (1,3)
		union
		select distinct pos.position_id, pos.process_code
		from consumable_position_belong ppb
		join position pos
		on ppb.position_id = pos.position_id
		and pos.delete_flg = 0
		order by process_code
		;
		]]>
	</select>

	<update id="autoSupply" parameterType="String">
		<![CDATA[
			UPDATE
				consumable_application
			SET
				supplier_id = 00000000000,
				supply_time = current_timestamp,
				all_supplied = 1
			WHERE
				consumable_application_key = #{consumable_application_key}
		]]>
	</update>

</mapper>