<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.master.PositionMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<select id="getPositionByID" resultType="PositionEntity" parameterType="String">
		<![CDATA[ 
		SELECT POSITION_ID,
			NAME,
			LINE_ID,
			LINE_NAME,
			PROCESS_CODE,
			UPDATED_BY,
			UPDATED_TIME,
			light_worktime_rate,
			light_division_flg,
			mapping_position_id
		FROM V_POSITION
		WHERE DELETE_FLG <> 1
		AND POSITION_ID = #{position_id};
		]]>
	</select>

	<select id="getAllPosition" resultType="PositionEntity">
		<![CDATA[ 
		SELECT POSITION_ID,
			NAME,
			LINE_ID,
			LINE_NAME,
			PROCESS_CODE,
			DELETE_FLG,
			UPDATED_BY,
			UPDATED_TIME
		FROM V_POSITION
		WHERE DELETE_FLG in (0, 2)
		ORDER BY PROCESS_CODE;
		]]>
	</select>

	<select id="searchPosition" resultType="PositionEntity">
		<![CDATA[ 
		SELECT POSITION_ID,
			NAME,
			LINE_ID,
			LINE_NAME,
			PROCESS_CODE,
			UPDATED_BY,
			UPDATED_TIME
		FROM V_POSITION
		]]>
		<where>
			DELETE_FLG in (0, 2)
			<if test="position_id!= null and position_id!= '' ">
				AND POSITION_ID = #{position_id}
			</if>
			<if test="line_id!= null and line_id!= '' ">
				AND LINE_ID = #{line_id}
			</if>
			<if test="name!=null and name!='' ">
				AND NAME LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="process_code!= null and process_code!= '' ">
				AND PROCESS_CODE = #{process_code}
			</if>
		</where> 
		<![CDATA[ 
		ORDER BY PROCESS_CODE, UPDATED_TIME DESC;
		]]>
	</select>

	<select id="getPositionByInlineFlg" resultType="PositionEntity">
		<![CDATA[ 
		SELECT P.POSITION_ID, P.NAME, P.PROCESS_CODE
		FROM POSITION P
		JOIN LINE L ON L.LINE_ID = P.LINE_ID
		WHERE P.DELETE_FLG = 0
			AND L.DELETE_FLG = 0
			AND L.INLINE_FLG = 1
		ORDER BY P.PROCESS_CODE;
		]]>
	</select>

	<insert id="insertPosition" parameterType="PositionEntity">
		<![CDATA[ 
		INSERT INTO POSITION 
			(NAME, LINE_ID, PROCESS_CODE, UPDATED_BY, UPDATED_TIME,light_worktime_rate,light_division_flg,delete_flg) 
		VALUES 
			(#{name}, #{line_id}, #{process_code}, #{updated_by}, current_timestamp,#{light_worktime_rate},#{light_division_flg},#{delete_flg});
		]]>
	</insert>

	<update id="updatePosition" parameterType="PositionEntity">
		<![CDATA[ 
		UPDATE POSITION SET NAME = #{name},
			LINE_ID = #{line_id},
			UPDATED_BY = #{updated_by},
			UPDATED_TIME = current_timestamp,
			light_worktime_rate = #{light_worktime_rate},
			light_division_flg = #{light_division_flg}
		WHERE POSITION_ID = #{position_id};
		]]>
	</update>

	<update id="deletePosition" parameterType="PositionEntity">
		<![CDATA[ 
		UPDATE POSITION SET DELETE_FLG = 1,
			UPDATED_BY = #{updated_by},
			UPDATED_TIME = current_timestamp
		WHERE POSITION_ID = #{position_id};
		]]>
	</update>

	<select id="getDividePositions" resultType="String" parameterType="String">
		<![CDATA[ 
		SELECT POSITION_ID
		FROM POSITION
		WHERE DELETE_FLG = 0
		AND light_division_flg = 1;
		]]>
	</select>

	<select id="getGroupPositions" resultType="String" parameterType="String">
		<![CDATA[ 
		SELECT `group_position_id`
		FROM `position_group`
		GROUP BY `group_position_id`;
		]]>
	</select>

	<select id="getGroupPositionById" resultType="PositionGroupEntity" parameterType="String">
		<![CDATA[ 
			SELECT `sub_position_id`,
				`next_position_id`,
			    `control_trigger`
			FROM `position_group`
			WHERE `group_position_id` = #{group_position_id};
		]]>
	</select>

	<select id="getAllGroupPositions" resultType="PositionGroupEntity">
		<![CDATA[ 
			SELECT `group_position_id`,
				`sub_position_id`,
				`next_position_id`,
			    `control_trigger`
			FROM `position_group` pg 
			JOIN POSITION p1 on pg.`group_position_id` = p1.position_id
			JOIN POSITION p2 on pg.`sub_position_id` = p2.position_id
			WHERE p1.delete_flg = 0 AND p2.delete_flg = 0;
		]]>
	</select>

	<insert id="insertPositionGroup" parameterType="PositionGroupEntity">
		INSERT INTO `position_group`
		(`group_position_id`,
		`sub_position_id`,
		`next_position_id`,
		`control_trigger`)
		VALUES
		(#{group_position_id},
		#{sub_position_id},
		#{next_position_id},
		#{control_trigger});
	</insert>

	<insert id="removePositionGroup" parameterType="String">
		DELETE FROM `position_group`
		WHERE group_position_id = #{group_position_id};
	</insert>

	<select id="getAllMappingPositions" resultType="PositionEntity">
		<![CDATA[ 
			SELECT p1.`position_id`,
				p1.`mapping_position_id`
			FROM POSITION p1
			JOIN POSITION p2 on p1.`mapping_position_id` = p2.`position_id`
			WHERE 
			p1.`mapping_position_id` IS NOT NULL
			AND p1.delete_flg = 0 AND p2.delete_flg <> 1
			ORDER BY p1.`mapping_position_id`;
		]]>
	</select>

	<update id="clearMappingPosition" parameterType="String">
		<![CDATA[ 
		UPDATE POSITION 
			SET mapping_position_id = null
		WHERE mapping_position_id = #{mapping_position_id};
		]]>
	</update>

	<update id="setMappingPosition" parameterType="String">
		<![CDATA[ 
		UPDATE POSITION 
			SET mapping_position_id = #{mapping_position_id}
		WHERE POSITION_ID = #{position_id};
		]]>
	</update>

	<update id="setPositionRevision" parameterType="String">
		<![CDATA[ 
		UPDATE POSITION 
			SET delete_flg = 0
		WHERE PROCESS_CODE = #{process_code}
		AND delete_flg = 2;
		]]>
	</update>

</mapper>