@CHARSET "UTF-8";

/* 全局字体设定*/
* {
	font-family: "Microsoft YaHei";
}

/* 去除外边距与内边距  */
body,td{
	margin:0;
	padding:0;
	overflow:hidden;
}
input,h5{
	margin:0;
}

/* 宽度设定-全宽容器  */
div.width-full {
	width: 300px;
	height: 222px;
	overflow:hidden;
}

.header{
	height:111px;
	background-color:#091277;
}
.header.transferring{
	background-color:#FFB300;
}

.main{
	height:56px;
	background-color:#fff;
}

.bottom{
	height:55px;
	background-color:#FFB300;
}

/* 输入框 */
.input-txt{
	border:1px solid;
	width:120px;
	height:20px;
}
.input-txt.half{
	width:60px;
}

.button{
	border:0;
	background-color:#92CDDC;
	text-align: center;
	vertical-align:middle;
	color:#000;
	width:80px;
	height:20px;
	padding:10px 20px;
	cursor:pointer;
}

.button-small{
	font-size:12px;
	height:15px;
	padding:2px 5px;
}

.button-unuse {
	background-color:#BCBCBC;
}

.left{
	float:left;
}

.right{
	float:right;
}

/* 浮动消除 */
.clear {
	clear: both;
}

table{
	border:1px solid #000;
	border-collapse:collapse;
	font-size:12px;
}

td{
	border:1px solid #000;
}

.td-title{
	background-color:#92CDDC;
}

.qty{
	text-align:right;
}

.storage_map {
	text-align:center;
	width: 100%;
}
.storage_map td.status-empty {
	color : white;
}
.storage_map td.status-storaged {
	color : #FFB300;
}
.storage_map td.status-overtime {
	color : red;
}
.storage_map td.mapping {
	background-color : #92CDDC;
}
#change_shelf {
background-color:#92CDDC;
}
.chosen {
	background-color:#FFB300;
}
