<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.ComponentSettingMapper">

 	<select id="getAllComponentSettings" resultType="ComponentSettingEntity">
		<![CDATA[ 
		SELECT 
			cs.model_id ,
			md.name as model_name, 
			cs.component_partial_id,
			cs.identify_code, 
			cs.safety_lever
		from component_setting cs
		   join model md on md.model_id = cs.model_id
		order by model_name;
		]]>
	</select>

 	<select id="searchComponentSetting" resultType="ComponentSettingEntity">
		<![CDATA[ 
			select 
				cs.model_id
                ,vm.CATEGORY_NAME as category_name
                ,vm.NAME as model_name
                ,pm.code as component_code
                ,IFNULL(cs.safety_lever, 0) as safety_lever
			    ,IFNULL(cm.cnt_partial_step0, 0) as cnt_partial_step0
			    ,IFNULL(cm.cnt_partial_step1, 0) as cnt_partial_step1
			    ,IFNULL(cm.cnt_partial_step2, 0) as cnt_partial_step2
			    ,IFNULL(cm.cnt_partial_step3, 0) as cnt_partial_step3
                ,ppc.partial_code as partial_code
			from 
			    component_setting cs
				left join 
                ( select cm1.model_id
						, sum(if(step=0,1,0)) as cnt_partial_step0
						, sum(if(step=1,1,0)) as cnt_partial_step1
						, sum(if(step=2,1,0)) as cnt_partial_step2
						, sum(if(step=3,1,0)) as cnt_partial_step3
				  from component_manage cm1 
                  where cm1.step < 4
                  group by model_id 
				) cm on cs.model_id = cm.model_id
				left join 
                ( select pp.model_id, group_concat(pm2.code separator ' ') as partial_code
				  from premake_partial pp
				  left join partial pm2 on pp.partial_id = pm2.partial_id
                  where pp.standard_flg = 3
                  group by model_id 
				) ppc on ppc.model_id = cs.model_id
                left join v_model vm on cs.model_id = vm.MODEL_ID
                left join partial pm on cs.component_partial_id = pm.partial_id
            order by model_name ASC
		]]>
	</select>

	<!-- 新建页面插入数据 -->
	<insert id="insertSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
		INSERT INTO 
				`component_setting` 
				(`model_id`, 
				 `component_partial_id`,
				  safety_lever,
				  identify_code) 					
        VALUES 
	        	(#{model_id},
	        	 #{component_partial_id},
	        	 #{safety_lever},
				 #{identify_code}
				 ); 
		]]>
	</insert>
	
	<select id="searchComponentSettingByModelId" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
		SELECT 
			cs.model_id ,
			md.name as model_name, 
			cs.component_partial_id, 
			cs.identify_code, 
			cs.safety_lever
		FROM component_setting cs
		   join model md on md.model_id = cs.model_id
		WHERE cs.model_id = #{model_id}
		ORDER BY model_id;
		]]>
	</select>
	
	<select id="searchComponentSettingByIdentifyCode" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
		SELECT 
			cs.model_id ,
			md.name as model_name, 
			cs.component_partial_id, 
			cs.identify_code, 
			cs.safety_lever
		FROM component_setting cs
		   join model md on md.model_id = cs.model_id
		WHERE cs.identify_code = #{identify_code}
		ORDER BY model_id;
		]]>
	</select>
	
	<select id="getSettingDetail" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
		SELECT 
			cs.model_id ,
			md.name as model_name, 
			cs.component_partial_id, 
			pm.name as partial_name,
			pm.code as component_code,
			cs.identify_code, 
			cs.safety_lever
		FROM component_setting cs
		   join model md on md.model_id = cs.model_id
		   join partial pm on cs.component_partial_id = pm.partial_id
		WHERE cs.model_id = #{model_id}
		ORDER BY model_id;
		]]>
	</select>
	
	<!-- 修改组件设置_更新 -->
	<update id="updateSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
			UPDATE component_setting 
			SET 
				component_partial_id = #{component_partial_id},
				safety_lever = #{safety_lever}
			WHERE model_id = #{model_id}
		]]>
	</update>
	
	<!-- 修改组件设置_删除 -->
	<update id="deleteSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
			DELETE FROM component_setting
		]]>
		<where>
			<if test="model_id!=null and model_id!=''">
				<![CDATA[
					AND model_id = #{model_id}
				]]>
			</if>
		</where>
	</update>

	<select id="getAllSnoutComponentModel" resultType="ComponentSettingEntity">
		select 
			cs.model_id
			,vm.NAME as model_name,
			cs.safety_lever
		from 
			snout_component_setting cs
			join model vm on cs.model_id = vm.MODEL_ID
		where sub_part_sets >= 0
		order by shelf, layer, model_name ASC
	</select>

 	<select id="searchSnoutComponentSetting" resultType="ComponentSettingEntity">
		<![CDATA[ 
			select 
				cs.model_id
                ,vm.CATEGORY_NAME as category_name
                ,vm.NAME as model_name
                ,pm.code as component_code
                ,cs.shelf
                ,cs.layer
                ,cs.safety_lever
                ,pps.partial_code as refurbished_code
                ,ppc.partial_code as partial_code
                ,sub_part_sets as cnt_partial_step1
			from 
			    snout_component_setting cs
                join v_model vm on cs.model_id = vm.MODEL_ID
                LEFT join partial pm on cs.component_partial_id = pm.partial_id
				left join 
                ( select pp.model_id, group_concat(pm2.code separator ' ') as partial_code
				  from premake_partial pp
				  left join partial pm2 on pp.partial_id = pm2.partial_id
                  where pp.standard_flg = 1
                  group by model_id 
				) ppc on ppc.model_id = cs.model_id
				left join 
                ( select pp.model_id, group_concat(pm2.code separator ' ') as partial_code
				  from premake_partial pp
				  left join partial pm2 on pp.partial_id = pm2.partial_id
                  where pp.standard_flg = 2
                  group by model_id 
				) pps on pps.model_id = cs.model_id
            order by shelf, layer, model_name ASC
        ]]>
     </select>

	<insert id="insertSnoutSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
		INSERT INTO 
			`snout_component_setting` 
				(`model_id`, 
				 `component_partial_id`,
				 `shelf`,
				 `layer`,
				  safety_lever,
				  sub_part_sets) 					
        VALUES 
	        	(#{model_id},
	        	 #{component_partial_id},
	        	 #{shelf},
	        	 #{layer},
	        	 #{safety_lever},
				 #{cnt_partial_step1}
				 ); 
		]]>
	</insert>

	<select id="getSnoutSettingDetail" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
		SELECT 
			cs.model_id ,
			md.name as model_name, 
			cs.component_partial_id, 
			`shelf`,
			`layer`,
			concat(
			coalesce(`shelf`, '-'),
			'|',
			coalesce(`layer`, '-')
			) as identify_code,
			pm.name as partial_name,
			pm.code as component_code,
			cs.sub_part_sets as cnt_partial_step1, 
			cs.safety_lever
		FROM snout_component_setting cs
		   join model md on md.model_id = cs.model_id
		   LEFT join partial pm on cs.component_partial_id = pm.partial_id
		WHERE cs.model_id = #{model_id};
		]]>
	</select>

	<!-- 修改组件设置_更新 -->
	<update id="inventSnoutSubPartSets" parameterType="ComponentSettingEntity">
		<![CDATA[ 
			UPDATE snout_component_setting 
			SET 
				sub_part_sets = #{cnt_partial_step1}
			WHERE model_id = #{model_id}
		]]>
	</update>

	<!-- 修改组件设置_更新 -->
	<update id="updateSnoutSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
			UPDATE snout_component_setting 
			SET 
				component_partial_id = #{component_partial_id},
				shelf = #{shelf},
				layer = #{layer},
				safety_lever = #{safety_lever}
			WHERE model_id = #{model_id}
		]]>
	</update>

	<!-- 修改组件设置_删除 -->
	<update id="deleteSnoutSetting" parameterType="ComponentSettingEntity">
		<![CDATA[ 
			DELETE FROM snout_component_setting
			WHERE model_id = #{model_id};
		]]>
	</update>

	<select id="getHistoryComponentModel" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
		select cm.model_id, mdl.name as model_name
		from component_manage cm 
		join model mdl on cm.model_id = mdl.model_id
		group by cm.model_id
		order by model_name;
		]]>
	</select>

	<select id="getAllHsitoryModel" resultType="ComponentSettingEntity" parameterType="String">
		<![CDATA[ 
			select pf.model_id, mdl.name as model_name 
			from solo_production_feature pf
			join model mdl on pf.model_id = mdl.model_id
			where position_id = 24
			group by pf.model_id
			order by model_name
		]]>
	</select>
</mapper>