<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.ComponentManageMapper">

 	<select id="searchComponentManage" parameterType="ComponentManageEntity" resultType="ComponentManageEntity">
		<![CDATA[
			select distinct
				cm.component_key
                ,cm.model_id
			    ,vm.NAME as model_name
			    ,cm.origin_material_id
                ,mm1.omr_notifi_no as origin_omr_notifi_no
			    ,cm.step
			    ,CASE
				    WHEN cm.origin_material_id is null OR cm.origin_material_id = 0
				    THEN "-"
					ELSE (select group_concat(partial.code separator ' ')
							from partial join material_partial_detail	
								on partial.partial_id = material_partial_detail.partial_id 
								and status = 8	
	 						where material_partial_detail.material_id = cm.origin_material_id)
				 END as partial_code
			    ,cm.stock_code
			    ,cm.inline_date
			    ,cm.serial_no
			    ,'' as operator_name
			    ,CASE 
				 WHEN cm.target_material_id is null
				 THEN  (select partial.code from partial where cs.component_partial_id = partial.partial_id
						and cs.model_id = cm.model_id)
				 ELSE  (select partial.code from partial join material_partial_detail
				 		on partial.partial_id = material_partial_detail.partial_id and status = 7
						where material_partial_detail.material_id = cm.target_material_id limit 1)
				 END as component_code
			    ,cm.finish_time
			    ,cm.target_material_id
                ,mm2.omr_notifi_no as target_omr_notifi_no
			from 
				component_manage cm
                left join v_model vm on cm.model_id = vm.MODEL_ID
                left join material mm1 on cm.origin_material_id = mm1.material_id
                left join material mm2 on cm.target_material_id = mm2.material_id
				left join component_setting cs on cs.model_id = cm.model_id
				left join partial pm on cs.component_partial_id = pm.partial_id
            where cm.step <> 9
			]]>

		    <if test="search_model_id!=null">
		    	<![CDATA[ and cm.model_id = #{search_model_id}]]>
		    </if>
		    <if test="search_component_code!=null">
				and (exists(
					select 1
					from partial 
					join material_partial_detail
						on partial.partial_id = material_partial_detail.partial_id and status = 7
					where material_partial_detail.material_id = cm.target_material_id
					 and partial.code like CONCAT(#{search_component_code},'%'))
					 OR 
					 exists (
					 select 1 
					 from component_setting
					 join partial  
					 	ON component_setting.component_partial_id = partial.partial_id
					 where  component_setting.model_id = cm.model_id))
		    </if>
		    <if test="search_partial_code!=null">
		    	and exists (
		    			select 1 
		    			from partial 
		    			join material_partial_detail
		    			 on partial.partial_id = material_partial_detail.partial_id and status = 8
		    			where material_partial_detail.material_id = cm.origin_material_id
		    			  and partial.code like CONCAT(#{search_partial_code},'%'))
		    					    </if>
		    <if test="search_serial_no!=null">
		    	<![CDATA[ and cm.serial_no like CONCAT('%',#{search_serial_no},'%')]]>
		    </if>
		    <if test="search_stock_code!=null">
		    	<![CDATA[ and cm.stock_code like CONCAT('%',#{search_stock_code},'%')]]>
		    </if>
		    <if test="search_step_list!=null">
		    	<![CDATA[ and cm.step in ]]>
	    		<foreach item="item" collection="search_step_list" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
		    </if>
			<if test="search_inline_date_start != null and search_inline_date_start != ''">
				<![CDATA[
				and cm.inline_date >= #{search_inline_date_start}
				]]>
			</if>
			<if test="search_inline_date_end != null and search_inline_date_end != ''">
				<![CDATA[ 
		   		and cm.inline_date <= #{search_inline_date_end}
		   		]]>
			</if>
			<if test="search_finish_time_start != null and search_finish_time_start != ''">
				<![CDATA[
				and cm.finish_time >= #{search_finish_time_start}
				]]>
			</if>
			<if test="search_finish_time_end != null and search_finish_time_end != ''">
				<![CDATA[ 
		   		and cm.finish_time <= #{search_finish_time_end}
		   		]]>
			</if>
		    order by step asc, inline_date asc
 	</select>
 	
 	<select id="searchComponentManageDetail" parameterType="String" resultType="ComponentManageEntity">
		<![CDATA[
			select 
				cm.component_key
                ,cm.model_id
			    ,vm.NAME as model_name
			    ,cm.origin_material_id
			    ,cm.step
			    ,cm.stock_code
			    ,cm.inline_date
			    ,cm.serial_no
			    ,cm.finish_time
			    ,cm.target_material_id
			from 
				component_manage cm
                left join v_model vm on cm.model_id = vm.MODEL_ID
            where cm.component_key = #{componentKey}
			]]>
 	</select>
 	
	<!-- 查询输入零件 -->
   <select id="getAllPartial" resultType="ComponentManageEntity"  >
		<![CDATA[ 
			SELECT
				PARTIAL_ID as partial_id, 
				NAME as partial_name, 
				CODE as component_code
			FROM 
				PARTIAL	  
			WHERE
				code like CONCAT(#{code},'%')
				ORDER BY CODE
		]]>
		
	</select>
		
	<!-- 新建页面插入数据 -->
	<insert id="insert" parameterType="ComponentManageEntity">
		<![CDATA[ 
		INSERT INTO 
				component_manage
				(model_id, 
				 origin_material_id,
				  step,
				  stock_code,
				  inline_date,
				  serial_no,
				  finish_time,
				  target_material_id) 					
        VALUES 
	        	(#{model_id},
	        	 #{origin_material_id},
	        	 #{step},
				 #{stock_code},
				 #{inline_date},
				 #{serial_no},
				 #{finish_time},
				 #{target_material_id}
				 ); 
		]]>
	</insert>
		
	<!-- 修改组件设置_更新 -->
	<update id="update" parameterType="ComponentManageEntity">
		<![CDATA[ 
			UPDATE component_manage SET 
		]]>
		<if test="origin_material_id!= null and origin_material_id!= '' ">
			origin_material_id = #{origin_material_id},
		</if>
		<if test="stock_code!= null and stock_code!= '' ">
			stock_code = #{stock_code},
		</if>
		<if test="inline_date!= null and inline_date!= '' ">
			inline_date = #{inline_date},
		</if>
		<if test="serial_no!= null and serial_no!= '' ">
			serial_no = #{serial_no},
		</if>
		<if test="finish_time!= null and finish_time!= '' ">
			finish_time = #{finish_time},
		</if>
		<if test="target_material_id!= null and target_material_id!= '' ">
			target_material_id = #{target_material_id},
		</if>
		<if test="step!= null and step!= '' ">
			step = #{step},
		</if>
		<![CDATA[ 
			model_id = #{model_id}
		]]>
		<where>
			<![CDATA[ 
				component_key = #{component_key}
			]]>
		</where>
	</update>
	
	<!-- 获取最大序列号-->
 	<select id="getNewSerialNo" resultType="String" parameterType="String">
		<![CDATA[ 
			SELECT LPAD(IFNULL(max(right(cm.serial_no, 5)), 0)+1, 5, 0)
			FROM component_manage cm
			WHERE substring(cm.serial_no, 7, 2) = #{identifyCode};
		]]>
	</select>
	
	<!-- 子零件入库_更新 -->
	<update id="partialInstock" parameterType="ComponentManageEntity">
		<![CDATA[ 
			UPDATE component_manage SET 
			stock_code = #{stock_code},
			step = 1
			WHERE component_key = #{component_key}
		]]>
	</update>
	
	<!-- 子零件出库_更新 -->
	<update id="partialOutstock" parameterType="ComponentManageEntity">
		<![CDATA[ 
			UPDATE component_manage SET 
			stock_code = NULL,
			step = 2,
			serial_no = #{serial_no},
			inline_date = current_date
			WHERE component_key = #{component_key}
		]]>
	</update>
	
	<!-- 组件废弃处理 -->
	<update id="cancleManage" parameterType="ComponentManageEntity">
		<![CDATA[ 
			UPDATE component_manage SET 
			stock_code = NULL,
			step = 9
			WHERE component_key = #{component_key}
		]]>
	</update>
	
	<select id="getNSStock" resultType="String">
		<![CDATA[ 
			SELECT
				stock_code
			 FROM component_manage
			 WHERE stock_code IS NOT NULL
		]]>
	</select>
 </mapper>