<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.FactPartialReleaseMapper">

	<!-- cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"> 
		</cache -->

	<insert id="insert" parameterType="FactPartialReleaseEntity">
	<![CDATA[
		INSERT INTO fact_partial_release 
		(
		af_pf_key,
		material_id,
		spec_kind,
		quantity
		) 
		VALUES 
		(
		#{af_pf_key},
		#{material_id},
		#{spec_kind},
		#{quantity}
		)
	]]>
	</insert>

	<update id="update" parameterType="FactPartialReleaseEntity">
	<![CDATA[
		UPDATE
			fact_partial_release
		SET
			quantity = #{quantity}
		WHERE
			af_pf_key = #{af_pf_key}
		AND
			material_id = #{material_id}
		AND
			spec_kind = #{spec_kind}
	]]>
	</update>

	<select id="getPartialRelease" resultType="FactPartialReleaseEntity" parameterType="FactPartialReleaseEntity">
	<![CDATA[
		SELECT 
			af_pf_key,
			material_id,
			spec_kind,
			quantity
		FROM
			fact_partial_release
		WHERE
			af_pf_key = #{af_pf_key}
		AND
			material_id = #{material_id}
		AND
			spec_kind = #{spec_kind}
	]]>
	</select>

	<select id="getTodayPartialOrderEdit" resultType="FactPartialReleaseEntity" parameterType="String">
		SELECT omr_notifi_no, mdl.name as model_name, ma.level, sum(quantity) as quantity 
		FROM 
		`fact_partial_release` fpr
		JOIN
		`af_production_feature` af_pf
		ON fpr.af_pf_key = af_pf.af_pf_key
		JOIN
		`material` ma
		ON fpr.material_id = ma.material_id
		JOIN
		`model` mdl
		ON ma.model_id = mdl.model_id
		WHERE
		af_pf.operator_id = #{operator_id}
		and (af_pf.action_time > current_date OR af_pf.operator_id = 00000000000)
		and fpr.spec_kind = 0
		GROUP BY
		ma.material_id
		ORDER BY omr_notifi_no
		;
	</select>

	<select id="countPartialOrderEditInAfpf" resultType="int" parameterType="String">
		SELECT sum(quantity) as quantity 
		FROM 
		`fact_partial_release` fpr
		WHERE
		fpr.af_pf_key = #{af_pf_key}
		and fpr.spec_kind = 0
		;
	</select>

</mapper>