<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osh.rvs.mapper.partial.WastePartialRecycleCaseMapper">

	<select id="search" resultType="WastePartialRecycleCaseEntity" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	SELECT
		case_id,
		case_code,
		collect_kind,
		comment,
		package_date,
		weight,
		waste_apply_date
	FROM
		waste_partial_recycle_case
	]]>
	<where>
	<if test="waste_flg==1">
	<![CDATA[
	AND waste_apply_date IS NULL
	]]>
	</if>
	<if test="package_flg==1">
	<![CDATA[
	AND package_date IS NULL
	]]>
	</if>
	<if test="collect_kind!=null and collect_kind!=''">
	<![CDATA[
	AND collect_kind = #{collect_kind}
	]]>
	</if>
	<if test="case_code!=null and case_code!=''">
	<![CDATA[
	AND case_code LIKE CONCAT('%', #{case_code}, '%')
	]]>
	</if>
	<if test="package_date_start!=null and package_date_start!=''">
	<![CDATA[
	AND package_date >= #{package_date_start}
	]]>
	</if>
	<if test="package_date_end!=null and package_date_end!=''">
	<![CDATA[
	AND package_date <= #{package_date_end}
	]]>
	</if>
	<if test="waste_apply_date_start!=null and waste_apply_date_start!=''">
	<![CDATA[
	AND waste_apply_date >= #{waste_apply_date_start}
	]]>
	</if>
	<if test="waste_apply_date_end !=null and waste_apply_date_end!=''">
	<![CDATA[
	AND waste_apply_date <= #{waste_apply_date_end}
	]]>
	</if>
	</where>
	</select>

	<insert id="insert" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	INSERT INTO waste_partial_recycle_case
	(
	case_code,
	collect_kind,
	comment,
	package_date,
	weight,
	waste_apply_date
	)
	VALUES
	(
	#{case_code},
	#{collect_kind},
	#{comment},
	#{package_date},
	#{weight},
	#{waste_apply_date}
	)
	]]>
	</insert>
	
	<update id="update" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	UPDATE
		waste_partial_recycle_case
	SET
		case_code = #{case_code},
		comment = #{comment}
	]]>
	<if test="weight!=null and weight!=''">
	<![CDATA[
	,weight = #{weight}
	]]>
	</if>
	<![CDATA[
	WHERE
		case_id = #{case_id}
	]]>
	</update>
	
	<update id="updateWeight" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	UPDATE
		waste_partial_recycle_case
	SET
		weight = #{weight}
	WHERE
		case_id = #{case_id}
	]]>
	</update>
	
	<select id="getCaseByCode" resultType="WastePartialRecycleCaseEntity" parameterType="string">
	<![CDATA[
	SELECT
		case_id,
		case_code,
		collect_kind,
		comment,
		package_date,
		weight,
		waste_apply_date
	FROM
		waste_partial_recycle_case
	WHERE
		waste_apply_date IS NULL
	AND
		case_code = #{case_code}
	]]>
	<if test="case_id!=null and case_id!=''">
	<![CDATA[
	AND case_id <> #{case_id}
	]]>
	</if>
	</select>
	
	<update id="updatePackageDate" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	UPDATE waste_partial_recycle_case SET package_date = CURRENT_DATE,weight = #{weight} WHERE case_id = #{case_id}
	]]>
	</update>
	
	<update id="updateWaste" parameterType="WastePartialRecycleCaseEntity">
	<![CDATA[
	UPDATE waste_partial_recycle_case SET weight = #{weight}, waste_apply_date = #{waste_apply_date} WHERE case_id = #{case_id}
	]]>
	</update>
</mapper>